 body{
margin: 0 !important;
 }
 
 #container {
     width: 1440px;
     height: 100%;
     min-height: 500px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     padding: 10px;
     margin-top: 150px;
     
 }
 
 #form-login {
     height: 500px;
     width: 633px;
     left: 38px;
     top: 206px;
     border-radius: 0px;
     float: left;
     text-align: center;
     padding: 10px;
 }
 
 #form-register {
     height: 568px;
     width: 611.4210815429688px;
     left: 769px;
     top: 223px;
     border-radius: 0px;
     float: left;
     text-align: center;
     padding: 10px;
 }
 
 #vertical-lain {
     background-color: #B8B8B8;
     width: 2px;
     height: 800px;
     float: left;
     margin-right: 60px;
     margin-top: -100px;
 }
 
 .loginData {
     height: 68.7706527709961px;
     width: 516.9276123046875px;
     left: 58px;
     top: 104px;
     margin-bottom: 10px;
     border: 2px solid #979797;
     font-size: 20px;
     text-align: center;
 }
 
 #login-login {
     margin-top: 150px;
 }
 
 .registerData {
     height: 54.967742919921875px;
     width: 606.4210815429688px;
     left: 773.33154296875px;
     top: 223px;
     border-radius: 0px;
     margin-bottom: 10px;
     border: 2px solid #979797;
     font-size: 20px;
     text-align: center;
 }
 
 .registerData:hover {
     border: 2px solid#FF0707;
 }
 
 .registerData:focus,
 textarea:focus,
 select:focus {
     border: 2px solid#FF0707;
     outline: none;
 }
 
 .loginData:hover {
     border: 2px solid#FF0707;
 }
 
 .loginData:focus,
 textarea:focus,
 select:focus {
     border: 2px solid#FF0707;
     outline: none;
 }
 
 .formButton {
     box-sizing: border-box;
     width: 244.3px;
     height: 54.97px;
     background: linear-gradient(267.3deg, #FF1787 -13.85%, #FF0707 108.53%);
     border: 1px solid rgba(0, 0, 0, 0.3);
     font-family: Corben;
     font-size: 30px;
     font-weight: 400;
     line-height: 56px;
     letter-spacing: 0;
     text-align: center;
     color: white;
     cursor: pointer;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
 
 .formButton:active {
     box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
 }